run-as: standalone # possible values: standalone, wsgi
host: 127.0.0.1
port: 8080
autoreload: true
application:
  path: /home/user/projects/web-app/module
  template-dir: /home/user/projects/web-app/html
  image-dir: /home/user/projects/web-app/images
  static:
    /media: /home/user/projects/web-app/static_media

  classes:
    SomeController: /

databases:
  media: mysql://root@localhost/webapp_media
  general: postgres://root:p4ssword@localhost/webapp_general
  metadata: sqlite:///webapp_metadata.db
