Source: python-sponge
Section: python
Priority: optional
Maintainer: Gabriel Falcão <gabriel@nacaolivre.org>
Uploaders: Gabriel Falcão <gabriel@nacaolivre.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), python, cdbs, python-setuptools, python-support, python-nose, python-pmock, python-genshi, python-cherrypy
Build-Depends-Indep: python-sphinx
Homepage: http://www.sponge.org/
Vcs-Git: git://github.com/gabrielfalcao/sponge.git
Vcs-Browser: http://github.com/gabrielfalcao/sponge/tree/master

Package: python-sponge
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-cherrypy, python-genshi
Recommends:
Suggests:
Description: Sponge is a web framework built on top of CherryPy and Genshi.
 Sponge is a very tiny web framework, aiming to be simple enough to
 always keep things dry.
