Source: python-sponge
Section: python
Priority: optional
Maintainer: Gabriel Falcão Gonçalves de Moura <gabriel@nacaolivre.org>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), python, cdbs, python-setuptools, python-support, python-cherrypy3 (>= 3.1.1), python-genshi (>= 0.5.1), python-imaging (>= 1.1.6), python-yaml (>= 3.08), python-nose (>= 0.11.1), python-mox (>= 0.5.1), python-routes (>= 1.10.3)
Build-Depends-Indep: python-sphinx
Homepage: http://github.com/gabrielfalcao/sponge/tree/master
Vcs-Git: git://github.com/gabrielfalcao/sponge.git
Vcs-Browser: http://github.com/gabrielfalcao/sponge/tree/master

Package: python-sponge
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-cherrypy3 (>= 3.1.1), python-genshi (>= 0.5.1), python-imaging (>= 1.1.6), python-yaml (>= 3.08), python-nose (>= 0.11.1), python-mox (>= 0.5.1), python-routes (>= 1.10.3)
Suggests: python-sqlalchemy
Description: Sponge is a web framework built on top of CherryPy and Genshi
 Sponge is a very tiny web framework, aiming on testability thus being
 simple enough to always keep things DRY (Don't Repeat Yourself),
 which is a development approach with a philosophy aimed at reducing
 repetition of code.
